/****************************************
	gem & path icons (general)
****************************************/
.gemicon {
	color: transparent;
	display:inline-block; 
	background-size: 100% 100%;

	width:14px;
	height:14px;

	position:relative;
}
.gemicon.Gem_D { background-image:url('../images/magicicons/Gem_D.png'); }
.gemicon.Gem_E { background-image:url('../images/magicicons/Gem_E.png'); }
.gemicon.Gem_W { background-image:url('../images/magicicons/Gem_W.png'); }
.gemicon.Gem_N { background-image:url('../images/magicicons/Gem_N.png'); }
.gemicon.Gem_F { background-image:url('../images/magicicons/Gem_F.png'); }
.gemicon.Gem_A { background-image:url('../images/magicicons/Gem_A.png'); }
.gemicon.Gem_B { background-image:url('../images/magicicons/Gem_B.png'); width:12px; }
.gemicon.Gem_S { background-image:url('../images/magicicons/Gem_S.png'); }
.gemicon.Gem_H { background-image:url('../images/magicicons/Gem_H.png'); }
div.slick-cell .gemicon {
	top:3px;
}
	
.pathicon {
	color: transparent;
	display:inline-block; 
	background-size: 100% 100%;
	width:14px;
	height:14px;	
	position:relative;
}
.pathicon.Path_D { background-image:url('../images/magicicons/Path_D.png'); width:10px; margin:-1px 5px 0px 2px; }
.pathicon.Path_E { background-image:url('../images/magicicons/Path_E.png'); width:12px; margin:-1px 5px 0px 1px; }
.pathicon.Path_W { background-image:url('../images/magicicons/Path_W.png'); width:11px; margin:-1px 5px 0px 2px; }
.pathicon.Path_N { background-image:url('../images/magicicons/Path_N.png'); width:13px; margin:-1px 5px 0px 0px; }
.pathicon.Path_F { background-image:url('../images/magicicons/Path_F.png'); width:13px; margin:-1px 5px 0px 0px; }
.pathicon.Path_A { background-image:url('../images/magicicons/Path_A.png'); }
.pathicon.Path_B { background-image:url('../images/magicicons/Path_B.png'); }
.pathicon.Path_S { background-image:url('../images/magicicons/Path_S.png'); }
.pathicon.Path_H { background-image:url('../images/magicicons/Path_H.png'); }
.pathicon.Path_R { background-image:url('../images/magicicons/Path_R.png'); width:13px; margin:0px 1px 0px 0px; }
.pathicon.Path_U { background-image:url('../images/magicicons/Path_U.png'); width:12px; margin:0px 1px 0px 1px; }

.abilityicon {
	color: transparent;
	display:inline-block; 
	background-size: 100% 100%;
	width:16px;
	height:16px;
	position:relative;
}
.abilityicon.holy { background-image:url('../images/abilityicons/holy.png'); }
